In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
index=range(0, 10001, 1000) #u_star
len_index = len(index)
columns=range(100, 1001, 100) #sigma_u
len_columns = len(columns)
mu, nu, sigma, u, sigma_u = 33.03, 45, 0.05, 5000, 500

In [3]:
df = pd.DataFrame(np.arange(0,len_index*len_columns).reshape(len_index, len_columns), 
                  index=index, 
                  columns=columns)
df

       100   200   300   400   500   600   700   800   900   1000
0         0     1     2     3     4     5     6     7     8     9
1000     10    11    12    13    14    15    16    17    18    19
2000     20    21    22    23    24    25    26    27    28    29
3000     30    31    32    33    34    35    36    37    38    39
4000     40    41    42    43    44    45    46    47    48    49
5000     50    51    52    53    54    55    56    57    58    59
6000     60    61    62    63    64    65    66    67    68    69
7000     70    71    72    73    74    75    76    77    78    79
8000     80    81    82    83    84    85    86    87    88    89
9000     90    91    92    93    94    95    96    97    98    99
10000   100   101   102   103   104   105   106   107   108   109

In [4]:
class Question3:
    def __init__(self, index=index, columns=columns, nu=nu, mu=mu, sigma=sigma, u=u, df=df):
        self.index = index
        self.columns = columns
        self.nu = nu
        self.mu = mu
        self.sigma = sigma
        self.u = u
        self.df = df

    def find_index(self, element):#u_star
        return self.index[element // 10]

    def find_axis(self, element):#sigma_u
        return self.columns[element % 10]
    
    #I am a lazy student so I do not wanna use for loop
    def calculator(self, x):
        index = self.find_index(x)
        axis = self.find_axis(x)
        return (self.nu + self.mu) / 2 + (self.u - index / 2) * self.sigma / (2 * axis)

In [5]:
#Question 3
#Index name related to u_star
#Columns name related to sigma_u
table = Question3()
table.df = table.df.applymap(lambda x: table.calculator(x))
table.df

,100,200,300,400,500,600,700,800,900,1000
0,40.265,39.6400,39.431667,39.32750,39.265,39.223333,39.193571,39.171250,39.153889,39.1400
1000,40.140,39.5775,39.390000,39.29625,39.240,39.202500,39.175714,39.155625,39.140000,39.1275
2000,40.015,39.5150,39.348333,39.26500,39.215,39.181667,39.157857,39.140000,39.126111,39.1150
3000,39.890,39.4525,39.306667,39.23375,39.190,39.160833,39.140000,39.124375,39.112222,39.1025
4000,39.765,39.3900,39.265000,39.20250,39.165,39.140000,39.122143,39.108750,39.098333,39.0900
5000,39.640,39.3275,39.223333,39.17125,39.140,39.119167,39.104286,39.093125,39.084444,39.0775
6000,39.515,39.2650,39.181667,39.14000,39.115,39.098333,39.086429,39.077500,39.070556,39.0650
7000,39.390,39.2025,39.140000,39.10875,39.090,39.077500,39.068571,39.061875,39.056667,39.0525
8000,39.265,39.1400,39.098333,39.07750,39.065,39.056667,39.050714,39.046250,39.042778,39.0400
9000,39.140,39.0775,39.056667,39.04625,39.040,39.035833,39.032857,39.030625,39.028889,39.0275
10000,39.015,39.0150,39.015000,39.01500,39.015,39.015000,39.015000,39.015000,39.015000,39.0150

# Answer:   
Obiviously, the **prices** are **more sensitive to sigma_u** ranther than u_star generally. when *u_star or sigma_u is increasing, prices are decreasing*.   
Narrowly, **connections** between u_star and sigma_u with both or either more bigger are **less and less**. Practically I do not think **these impacts that affect investors who do not invest so much** cuz it actually not changes a lot even both factor amounts are huge

In [6]:
#Check the price randomly
(nu + mu)/2 + (u - 4000/2) * sigma / (2 * 200)

39.39